# Required python modules for running a web node of MyVariant.info
# To install all requirement, run
#    pip install -r requirements_web.txt

# biothings
git+https://github.com/biothings/biothings.api.git@81d303b2d497ebd49c3a50d00927b8e1cd932e4a#egg=biothings

# for utils.common
psutil

# optional
msgpack-python==0.4.6

# for nosetests
nose>=1.3.7
httplib2>=0.8

# for API-API querying
requests

# for biothings dependencies that aren't installed by biothings
pytz
gitpython
